<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG AllTestSuite" verbose="1" time-out="300000">

    <!-- Exclude unit tests until reliability issues have been resolved -->
    <!--
    <test name="unit-tests">
        <groups>
            <run>
                <include name="unit-test"/>
            </run>
        </groups>
        <packages>
            <package name="org.alfresco.po.*"/>
        </packages>
    </test>
     -->

    <test name="sanity">
        <groups>
            <run>
                <include name="sanity"/>

                <!-- Temporary exclusion of unreliable sanity tests -->
                <exclude name="RMA-2666"/>  <!-- Manage incomplete records -->
                <exclude name="RMA-2667"/>  <!-- Manage complete records -->
                <exclude name="RMA-2668"/>  <!-- Manage folders (depends on RMA-2667) -->
                <exclude name="RMA-2669"/>  <!-- Manage categories (depends on RMA-2668) -->
                <exclude name="RMA-2670"/>  <!-- Manage disposition schedule for folder -->
                <exclude name="RMA-2671"/>  <!-- Manage disposition schedule for record  -->
            </run>
        </groups>
        <packages>
            <package name="org.alfresco.test.regression.*"/>
        </packages>
    </test>

    <!-- TODO Re-enable this once the reason for failure on Bamboo is determined. -->
    <test name="classification">
        <groups>
            <run>
                <include name="integration-dataSetup"/>
                <include name="classification"/>
            </run>
        </groups>
        <packages>
            <package name="org.alfresco.test.integration.*"/>
        </packages>
    </test>

</suite>