<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG AllTestSuite" verbose="1" time-out="300000">

	<test name="unit-tests">
    	<groups>
    		<run>
    			<include name="unit-test"/>
    		</run>
    	</groups>
        <packages>                   
            <package name="org.alfresco.po.*"/> 
        </packages> 
    </test>


    <test name="sanity">
    	<groups>
    		<run>
    			<include name="sanity"/>
    		</run>
    	</groups>
        <packages>                   
            <package name="org.alfresco.test.regression.*"/> 
        </packages> 
    </test>

</suite>